
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --primary-dark:#0a65e4;
    --primary-green:#1de688;
}
body{
    background-color:var(--primary-dark);
    color:var(--primary-green);
    font-family: "Montserrat",sans-serif;
}
h1{
    text-align: center;
    margin:2rem;
}
.container{
    width:50%;
    margin:auto;
}
input,label{
    display: block;
}
input{
    margin-bottom:0.5rem;
    width:100%;

}
#check-number{
    display:block;
    margin-top:1rem;
    margin:auto;
    background: transparent;
    color:var(--primary-green);
    /* border-color:var(--primary-green); */
    border-width:medium;
    padding:0.5rem;
    border-radius:2rem;


}
.input-type{
    padding:0.7rem;
    margin-bottom: 2rem;
    width:70%;
    border:none;
    border-radius:2rem;
}
label{
    margin-bottom: 0.4rem;
}
#output-box{
    width:35%;
    border:none;
    border-radius:2rem;
    color:white;
    padding:1rem;
}
#check-number{
    margin-bottom:1rem;
}
.privacy{
    width:98%;
    /* margin:auto; */
    position:absolute;
    bottom:1px;
    color:rgb(71, 1, 30);
    text-align: center;
    font-style:italic;
    font-weight: bold;
}